.App {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.App form {
    width: 100%;
}

.App form input {
    width: 100%;
    height: 50px;
}

.App form button {
    width: 50%;
    height: 50px;
    display: block;
    margin: 20px auto;
}
